.footer{
        
    margin-bottom:0;
    width:100vw;
    height: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

#btnPlus{
    display: flex;
    align-items: center;
    justify-content: center;
    

}